/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__figure-image {
  width: 100%;
}

.header__figure {
  margin: 0;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.new-task__section {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-task__wrapper {
  display: flex;
}

.task__list {
  margin: 0;
  padding: 0px;
}

.task, 
.task__list_header {
  list-style: none;
}

.input,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3A3a;
}

/* Heading */
.task__list_header,
.new-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.text__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.text__input:focus {
  color: #333;
}

/* New Task */
.new-task__label {
  display: block;
  margin: 0 0 20px;
}

.new-task {
  width: 318px;
}

/* Task list */
.task__form {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__form > * {
  vertical-align: middle;
}

.task__form > .checkbox__input {
  margin: 0 10px;
}

.task__form > .label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__form > .text__input {
    width: 226px;
}

.button.delete__button img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button.delete__button img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task__list.task__list_complete .label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__list .task__form .input.text__input {
  display: none;
}

.task__list .task__form.task__list_incomplete_edit-mode .input.text__input {
  display: inline-block;
  width: 224px;
}

.task__list .task__form.task__list_incomplete_edit-mode .label {
  display: none;
}